:root {
    --dracula-background: #282a36;
    --dracula-current-line: #44475a;
    --dracula-foreground: #f8f8f2;
    --dracula-comment: #6272a4;
    --dracula-cyan: #8be9fd;
    --dracula-green: #50fa7b;
    --dracula-orange: #ffb86c;
    --dracula-pink: #ff79c6;
    --dracula-purple: #bd93f9;
    --dracula-red: #f55;
    --dracula-yellow: #f1fa8c;
    --dracula-foreground-fade: hsla(60, 30%, 96%, 0.5);
    --dracula-background-dark: #202227;
    --background-primary: #282a36;
    --background-primary-alt: #44475a;
    --background-secondary: #282a36;
    --background-secondary-alt: #1a1e24;
    --text-normal: #f8f8f2;
    --text-title-h1: #bd93f9;
    --text-title-h2: #bd93f8;
    --text-title-h3: #bd93f7;
    --text-title-h4: #bd93f6;
    --text-title-h5: #bd93f5;
    --text-title-h6: #bd93f4;
    --text-link: #8be9fd;
    --markup-code: #ffb86c;
    --text-tag: #50fa7b;
    --text-a: #ff79c6;
    --text-a-hover: #ff79c0;
    --text-mark: #f1fa8c;
    --interactive-accent: #f1fa8c;
    --interactive-accent-rgb: #f1fa8c;
    --blockquote-border: #b294bb;
    --table-border-color: var(--dracula-foreground);
    --table-thead-color: var(--dracula-current-line);
    --table-bg-color: var(--dracula-background);
    --table-bg-darker-color: var(--dracula-background-dark);
}