@import url("root.css");

body,
body * {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-size: calc(1rem + 0.1dvw);
    line-height: 1.5em;
}

code {
    font-family: "Consolas", "Courier", ui-monospace !important;
}

main {
    /* padding-block: 2em; */
    position: relative;
    width: 90% !important;
    margin: 0 auto !important;
}

aside {
    position: fixed;
    isolation: isolate;
    z-index: 2;
    background-color: transparent !important;
}

pre code {
    font-size: 1.2em !important;
    font-weight: 550 !important;
}

button:hover {
    cursor: pointer;
}

p {
    font-size: 1.05em;
}

footer {
    & * {
        font-size: 0.9em;
    }
    display: grid;
    place-items: center;

}

#credit {
    &, & a {color: #6f7b84;}
    & a:hover {
        text-decoration: underline;
        color: var(--link);
    }
}

#doc {
    width: 50%;
    margin: 0 auto;
}

#nav-aside {
    margin-top: 24px !important;

    & #outline {
        overflow: auto;
        padding-inline: 0.5rem;
        font-size: calc(1rem + 0.1dvw);

        & a {
            width: 100%;
            display: block;
            overflow: hidden;
            white-space: pre;
            text-overflow: ellipsis;
        }
    }
}


#EA {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#EA-buy {
    background-color: var(--accept);
    padding: 6px;
    border: none;
    border-radius: 6px;
}


.katex * {
    font-size: 1.05em;
}


.markdown-body mark {
    padding: .2em .4em;
    margin: 0;
    white-space: break-spaces;
    background-color: rgba(110, 118, 129, .4);
    border-radius: 6px;
}

.solution-fail {
    color: var(--deny);
}

.solution-partial {
    color: var(--warning);
}

.solution-complete {
    color: var(--accept);
}

/* Bigger than 992px */
@media only screen and (max-width: 1200px) {
    #doc {
        width: 60% !important;
    }
}

/* Bigger than 768px */
@media only screen and (max-width: 992px) {
    #doc {
        width: 70% !important;
    }
}

/* Bigger than 600px */
@media only screen and (max-width: 768px) {
    #outline {
        display: none;
    }
}

/* Smaller than 600px */
@media only screen and (max-width: 600px) {
    #menu ul {
        list-style-position: inside;
        padding-inline-start: 0.75em;
    }

    main.markdown-body {
        width: 100% !important;
    }
}
