@import url("root.css");

#doc {
    width: 60%;
    margin: 0 auto;
}

p,
.katex * {
    font-size: 1.05em;
}

pre code {
    font-size: 1.2em !important;
    font-weight: 500 !important;
}

.markdown-body mark {
    padding: .2em .4em;
    margin: 0;
    white-space: break-spaces;
    background-color: rgba(110, 118, 129, .4);
    border-radius: 6px;
}

.solution-fail {
    color: var(--deny);
}

.solution-partial {
    color: var(--warning);
}

.solution-complete {
    color: var(--accept);
}

body {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

main {
    padding-block: 2rem;
    position: relative;
    width: 80% !important;
    margin: 0 auto !important;
}

aside {
    position: fixed;
}